.section-continent {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.336);
  background-image: url(../images/glob3.png);
  background-size: 100%;
}

.f-continent {
  width: 80%;

  li {
    background-color: #005a96e8;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: #005a96ab;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .cont-link {
    text-align: center;
  }
}

.continent-header {
  height: 190px;
}

.continent-img {
  background-color: #cd4776bb;
  opacity: 0.5;
}

.continent {
  padding: 55px 0;
}

.continentList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.acontinent {
  position: relative;
  height: 180px;
  // padding: 10px;

  .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
  }

  &:nth-child(4n + 2),
  &:nth-child(4n + 3) {
    background-color: #3130302d;
    z-index: 2;

    .bg {
      background-color: $pri-bg-color;
      opacity: 0.4;
    }
  }
}

.country-name {
  h2 {
    font-weight: 900;
    font-size: 18px;
    text-align: end;
  }
}

.continent-country {
  background: #3880afb4;
}

.text-small {
  color: $text-color-small;
}

section h3 {
  font-size: 15px;
}
